
<% include ../partials/head %>

<body>
    <% include ../partials/global_nav %>


    <div class="container">
        <div class="innerWrap">
            <header class="pTitleHeader">
                <h1 class="pTitleHeader--title"><%= pageTitle %></h1>
                <div class="pTitleHeader--caption">Posted by <a href="/<%=user.username %>"><%= user.username %></a></div>
            </header>

            <div><img src="<%=card.image %>"/></div>
            <div><%=card.description %></div>
            <div><%=card.date.created %></div>
            <div><%=card.attr.price %></div>
            <br>
            
            <% if(!auth_user) { %>
                <%=card.attr.favorites %> Favorites
            <% } %>
            
            
            <% if(auth_user) { %>
                <form method="post" action="/<%=auth_user.username %>/<%=card._id %>/favorite">
                    <label for="favorites">Favorites</label>
                    <input type="submit" value="<%=card.attr.favorites %>" id="favorites" />
                    <% if (isFavorite == true) { %> <span> You like it </span> <% } %>
                </form>
                <br><br>
                <form  method="post" action="/<%=auth_user.username %>/<%=card._id %>/addToCart">
                    <input type="submit" class="btn btn__primary" value="Add to Cart"  />
                </form>
            <% } %>

            <br><br><br>
            
            <% if(isMyCard) { %>
            
            <a href="cards/<%=card._id %>/edit">Edit Card</a>
            
            <br><br><br>

            <form  method="post" action="cards/<%=card._id %>/delete">
                <input type="submit" value="Delete Card"  />
            </form>


            <% } %>
        </div>
    </div>
    <% include ../partials/footer %>

    <script src="jquery/dist/jquery.js"></script>
    <script src="bootstrap/dist/js/bootstrap.js"></script>

</body>
</html>