<% include ../partials/head %>

<body>
    <% include ../partials/global_nav %>

    <div class="container">
        <h1><%= page_title %></h1>
        
        <% if(cards.length == 0) { %>
        <div> Aint got nothing to show ya</div>
        <%  }   %>
        

        <ul class="clearfix cards">
			<%	for (var i = 0; i < cards.length; i++) {	%>
				<li>
                    <div class="wrapper">
    					<a href="/cards/<%= cards[i]._id %>">
                            <div><img src="<%= cards[i].image %>" width="200px" height="150px"  /></div>
                            <div><%= cards[i].title %></div>
                        </a>
                    </div>
                    by: <a href="/<%= cards[i].user.username %>"><%= cards[i].user.username %></a>
				</li>
			<%	}	%>
		</ul>
    </div>
    

    <% include ../partials/footer %>


</body>
</html>