<% include ../partials/head %>


<body>
    <% include ../partials/global_nav %>

    <div class="container">
        <div class="innerWrap">
            <h1><%= pageTitle %></h1>

            <% if(cards.length == 0) { %>
            <div> Aint got nothing to show ya</div>
            <% } %>
            
            <% if(cards.length >  0) { %>
            <ul class="cart">
                <%  for (var i = 0; i < cards.length; i++) {    %>
                    <li>
                        <div class="clearfix">
                            <div style="float:right"><%= cards[i].attr.price %></div>
                            
                            <div style="float:left; margin:10px;">
                                <img src="<%= cards[i].image %>" width="120px"/>
                            </div>
                            <div style="float:left; margin:10px; width: 200px;">
                                <a href="/cards/<%= cards[i]._id %>"><%= cards[i].title %></a>
                                <br>
                                
                                <form  method="post" action="/<%=auth_user.username %>/<%=cards[i]._id %>/deleteFromCart">
                                    <input type="submit" value="Remove"  />
                                </form>
                            </div>
                        </div>
                    </li>

                <%  }   %>
                <li>
                    total: <%= total_price %>
                </li>
            </ul>
            
            <input type="submit" value="Checkout" class="btn btn--primary" >
            <%  }   %>

        </div>
    </div>
    
    <% include ../partials/footer %>

</body>
</html>
