<% include ../partials/head %>
<style>
.default {
    float:left; 
    margin: 0 20px 0 0;
    background-image: url("/img/assets/defaultavatar.jpg");
}
</style>
<body>
    <% include ../partials/global_nav %>
    <div class="container">
        <div class="innerWrap">
            
            <header class="pTitleHeader clearfix">
                <% if(isMyProfile) { %>
                <a href="/account/" style="float:right;">Edit</a>
                <% } %> 

                <img src="<%= user.gravatar(120) %>" class="default" height="120px" width="120px" />
                <h1 class="pTitleHeader--title"><%= pageTitle %></h1>
                <p class="pTitleHeader--caption"><%= user.email %></p>
                <p class="pTitleHeader--caption"><%= user.created %></p>
            </header>

            <p><%= user.profile.name %></p>
            <p><%= user.profile.bio %></p>
            <p><%= user.profile.website %></p>
            <p><%= user.profile.location %></p>
            
            <a href="/<%= user.username %>/">Posted</a> | 
            <a href="/<%= user.username %>/Favorites">Favorites</a> 
            
            <hr>

            <h2><%= sub_title %></h2>
            <% if(cards.length === 0) { %>
            <div> Aint got nothing to show ya</div>
            <% } %>
            
            <% if(cards.length >  0) { %>
            <ul class="clearfix cards">
                <%  for (var i = 0; i < cards.length; i++) {    %>
                <li>
                    <div class="wrapper">
                        <a href="/cards/<%= cards[i]._id %>">
                            <div><img src="<%= cards[i].image %>" width="200px" height="150px"  /></div>
                            <div><%= cards[i].title %></div>
                        </a>
                    </div>
                </li>
                <%  }   %>
            </ul>
            <%  }   %>
        </div>
    </div>
    <% include ../partials/footer %>

</body>
</html>


                