<% include ../partials/head %>

<body>
  <% include ../partials/global_nav %>

  <div class="container">
    <div class="innerWrap">
      <h1><%= pageTitle %></h1>
      
      
      <form accept-charset="UTF-8" method="post" action="/account" enctype="multipart/form-data">
        
        <div class="formGroup formGroup__stacked">
          <label for="name">Profile Picture</label>
          <div class="clearfix">

            <div style="float:left;"><img src="<%= user.profile.picture || user.gravatar(64) %>"  /> </div>
            <div style="float:left;float: left; width: 340px; margin-left: 20px;">
              <input type="file" name="picture" id="fileControl" style="display:none;">
              <input class="btn btn__secondary" type="button" value="Change" onclick="document.getElementById('fileControl').click()">
            </div>
          </div>
        </div>

        <div class="formGroup formGroup__stacked">
          <label for="name">Full Name</label>
          <input type="name" name="name" id="name" tabindex="1" autocorrect="off" autocapitalize="off"
              autofocus="true" class="input" 
              value="<%= user.profile.name %>">
        </div>

        <div class="formGroup formGroup__stacked">
          <label for="bio">Bio</label>
          <textarea name="bio" id="bio" tabindex="2" autocorrect="off" class="input"><%= user.profile.bio %></textarea>
        </div>

        <div class="formGroup formGroup__stacked">
            <label for="location">Location</label>
            <input type="text" name="location" id="location" 
                value="<%= user.profile.location %>"
                tabindex="3" autocorrect="off" class="input" >
        </div>

        <div class="formGroup formGroup__stacked">
            <label for="website">Website</label>
            <input type="url" name="website" id="website" 
                value="<%= user.profile.website %>"
                tabindex="4" autocorrect="off" class="input" >
        </div>
          
        <input class="btn btn__primary" type="submit"  value="Save" tabindex="5">
      </form>
    </div>
  </div>

<% include ../partials/footer %>

</body>
</html>
